<%- include('header'); -%>


<div class="attendance-page-div">

  <div style="padding: 2%;">



    <div class="flex">

      <div class="subject" style="flex: 1; text-align: left;">
        <h3>Subject</h3>
      </div>
      <div class="subject-percent" style="flex: 1;">
        <h3>Percentage</h3>
      </div>

    </div>
    <hr>

<div class="flex">

  <div class="subject" style="flex: 1; text-align: left;">
    <h3>English</h3>
  </div>
  <div class="subject-percent" style="flex: 1;">
    <div class="progress">
      <div class="progress-bar <%= student.attendance.english >= 70 ? 'bg-success' : 'bg-danger' %>" role="progressbar" style="width: <%= student.attendance.english %>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> <%= student.attendance.english %>%</div>
    </div>
  </div>

</div>

<div class="flex">

  <div class="subject" style="flex: 1; text-align: left;">
    <h3>Math</h3>
  </div>
  <div class="subject-percent" style="flex: 1;">
    <div class="progress">
      <div class="progress-bar <%= student.attendance.math >= 70 ? 'bg-success' : 'bg-danger' %>" role="progressbar" style="width: <%= student.attendance.math %>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> <%= student.attendance.math %>% </div>
    </div>
  </div>

</div>

<div class="flex">

  <div class="subject" style="flex: 1; text-align: left;">
    <h3>Core Java</h3>
  </div>
  <div class="subject-percent" style="flex: 1;">
    <div class="progress">
      <div class="progress-bar <%= student.attendance.java >= 70 ? 'bg-success' : 'bg-danger' %>" role="progressbar" style="width: <%= student.attendance.java %>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> <%= student.attendance.java %>% </div>
    </div>
  </div>

</div>

<div class="flex">

  <div class="subject" style="flex: 1; text-align: left;">
    <h3>Web Development</h3>
  </div>
  <div class="subject-percent" style="flex: 1;">
    <div class="progress">
      <div class="progress-bar <%= student.attendance.web >= 70 ? 'bg-success' : 'bg-danger' %>" role="progressbar" style="width: <%= student.attendance.web %>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> <%= student.attendance.web %>% </div>
    </div>
  </div>

</div>


  </div>

</div>













<%- include('footer'); -%>
