<%- include('header'); -%>


<div class="attendance-page-div w-50">

  <div style="padding: 2%;">



    <div class="flex">

      <div class="subject" style="flex: 1; text-align: left;">
        <h3>Subject</h3>
      </div>
      <div class="subject-percent" style="flex: 1;">
        <h3>Percentage</h3>
      </div>

    </div>
    <hr>

<div class="flex">

  <div class="subject" style="flex: 1; text-align: left;">
    <h3><%= student.subjects[0] %></h3>
  </div>
  <div class="subject-percent" style="flex: 1;">
    <div class="progress">
      <div class="progress-bar <%= student.attendance.subject1 >= 70 ? 'bg-success' : 'bg-danger' %>" role="progressbar" style="width: <%= student.attendance.subject1 %>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> <%= student.attendance.subject1 %>%</div>
    </div>
  </div>

</div>

<div class="flex">

  <div class="subject" style="flex: 1; text-align: left;">
    <h3><%= student.subjects[1] %></h3>
  </div>
  <div class="subject-percent" style="flex: 1;">
    <div class="progress">
      <div class="progress-bar <%= student.attendance.subject2 >= 70 ? 'bg-success' : 'bg-danger' %>" role="progressbar" style="width: <%= student.attendance.subject2 %>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> <%= student.attendance.subject2 %>% </div>
    </div>
  </div>

</div>

<div class="flex">

  <div class="subject" style="flex: 1; text-align: left;">
    <h3><%= student.subjects[2] %></h3>
  </div>
  <div class="subject-percent" style="flex: 1;">
    <div class="progress">
      <div class="progress-bar <%= student.attendance.subject3 >= 70 ? 'bg-success' : 'bg-danger' %>" role="progressbar" style="width: <%= student.attendance.subject3 %>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> <%= student.attendance.subject3 %>% </div>
    </div>
  </div>

</div>

<div class="flex">

  <div class="subject" style="flex: 1; text-align: left;">
    <h3><%= student.subjects[3] %></h3>
  </div>
  <div class="subject-percent" style="flex: 1;">
    <div class="progress">
      <div class="progress-bar <%= student.attendance.subject4 >= 70 ? 'bg-success' : 'bg-danger' %>" role="progressbar" style="width: <%= student.attendance.subject4 %>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"> <%= student.attendance.subject4 %>% </div>
    </div>
  </div>

</div>


  </div>

</div>













<%- include('footer'); -%>
