<%- include('header'); -%>



<div class="flex-container">


<div class="Attendance-div flex-div m-1">

  <div style="padding: 5%;">
<h3>Attendance:</h3>
<hr>
<div class="progress">
  <div class="progress-bar <%= (student.attendance.subject1 + student.attendance.subject2 + student.attendance.subject3 + student.attendance.subject4)/4 >= 70 ? 'bg-success' : 'bg-danger' %>" role="progressbar" style="width: <%= (student.attendance.subject1 + student.attendance.subject2 + student.attendance.subject3 + student.attendance.subject4)/4 %>%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
    <%= (student.attendance.subject1 + student.attendance.subject2 + student.attendance.subject3 + student.attendance.subject4)/4 %> </div>
</div>
  </div>

</div>

<div class="fee-div flex-div m-1">

  <div style="padding: 5%;">
  <h3>Fee Due:</h3>
  <h5><strong>No Fee Due</strong></h5>
  </div>

</div>

<div class="details-div flex-div m-1">

  <div style="padding: 5%;">
  <h3>MS Teams Details:</h3>
  <h6><strong>ID:</strong> bishtankit@gmail.com</h6>
  <h6><strong>Password:</strong> pass123</h6>
  </div>

</div>


</div>

<hr style="height: 25px;">


<div class="container message-div">


    <header style=" height: 10%; width: 50%;">
      <h3 style="padding: 8px; color: #31172E;">President Message</h3>
    </header>

    <hr>

    <div class="flex">

<div>
  <img src="images/Amity-logo.jpg" alt="president image" style="border-radius: 50%; width: 120px;">
</div>



<div>
  <h5> ❝Over the last many weeks we have sadly come to know of some of our students losing a parent or both to Covid-19 complications.
   Though we have been doing all we can to give them emotional support, we have now decided to go a step further.

 If any current student at Amity University UP loses a parent that was supporting their fees for
  education and is facing financial difficulties because of that, we will sponsor the remaining full
  academic fees till they complete their current degree at Amity University UP.

 If you know of any of your fellow students who needs this help, please inform the Dean
  Student Welfare at dsw@amity.edu who will assess each individual case.

 In these times of stress and anxiety, it is also very important to take care of your
  mental health. As you know, our professional Amity Counsellors and Psychologists are available 24
   hours a day for you. Do use this service any time you need by calling 18001026489.<br>

 <h4>Wishing you good health.❞</h4></h5>
</div>

    </div>



</div>




<%- include('footer'); -%>
